<!doctype html>
<html lang="en" class="no-js">

<head>
	<meta charset="UTF-8">
	<script type="text/javascript" src="templates/head.js" charset="utf-8"></script>
	<title>北京二中下课铃投稿</title>
</head>

<body>
	<div class="container">
		<header id="header" class="header">
			<script type="text/javascript" src="templates/header.js"></script>
		</header>
		<main di="main" class="main">
			<div class="main-inner">
				<div class="content-wrap">
					<div id="concent" class="content">
						<div class="input-wrap" id="input-wraper-contribution">
							<h2>添加条目</h2>
							<div class="error-wrap" id="error-wrap"></div>
							<form onkeypress="return event.keyCode != 13;">
								<p><input type='text' placeholder='请在此粘贴网易云链接' id='ncmid' autocomplete="off" /></p>
								<p><button type='button' class="btn-submit" id='ncmid_submit'>确定</button></p>
							</form>
							<div class="get-musicinfo-wrap" id="get-musicinfo-wrap" style="display: none;">
								<div class="musicinfo-wrap">
									<p>播放周：<input type='text' placeholder='格式：年月-周（e.g.1905-1）' id='week'
											autocomplete="off" /></p>
									<p>播放日期：<input type='text' placeholder='格式：YYYY/MM/DD（e.g.2019/5/4）' id='date'
											autocomplete="off" /></p>
									<p>网易云id：<span class="ncmid" id="ncmid"></span></p>
									<p>实际名称：<input type='text' placeholder='' id='realname' autocomplete="off" /></p>
									<p>显示名称：<input type='text' placeholder='' id='showname' autocomplete="off" /></p>
									<p>音乐人：<input type='text' placeholder='' id='artist' autocomplete="off" /></p>
									<p>版权状态：<span class="state" id="state"></span></p>
									<p>投稿人：<input type='text' placeholder='' id='user' autocomplete="off" /></p>
								</div>
								<div class="aplayer-warp" id="aplayer-contribution">
									<span class="contribution-span">是这首吗？↓</span>
									<div class='aplayer' id='aplayer'></div>
									<script>
										const ap = new APlayer({
											container: document.getElementById('aplayer'),
											loop: 'one',
											theme: '#e9e9e9',
										});
									</script>
								</div>
								<p><button type='button' class="btn-submit" id='contribution_submit'>上传</button></p>
							</div>
						</div>
						<aside id="sidebar" class="sidebar">
							<div class="sidebar-inner">

							</div>
						</aside>
					</div>
		</main>
		<footer id="footer" class="footer">
			<script type="text/javascript" src="templates/footer.js"></script>
		</footer>
	</div>
	<script type="text/javascript" src="js/createtodb.js"></script>
</body>

</html>