<!doctype html>
<html lang="en" class="no-js">

<head>
	<meta charset="UTF-8">
	<script type="text/javascript" src="templates/head.js" charset="utf-8"></script>
	<title>北京二中下课铃投稿</title>
</head>

<body onload="GetNotices()">
	<div class="container index">
		<header id="header" class="header">
			<script type="text/javascript" src="templates/header.js" charset="utf-8"></script>
		</header>
		<main di="main" class="main">
			<div class="main-inner">
				<div class="content-wrap">
					<div id="concent" class="content">

					</div>
				</div>

				<aside id="sidebar" class="sidebar">
					<div class="sidebar-inner">

					</div>
				</aside>
			</div>
		</main>
		<footer id="footer" class="footer">
			<script type="text/javascript" src="templates/footer.js" charset="utf-8"></script>
		</footer>
	</div>
</body>

</html>